<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roastingassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoastingAssistant">
        <activity
            android:name=".user_interface.RoastActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".user_interface.RemoteDataBrowserActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            />
        <activity
            android:name=".user_interface.CheckpointParamActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".user_interface.BlendActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".user_interface.BeanActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".user_interface.RoastParamActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"/>
        <activity
            android:name=".user_interface.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>