<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.roastingassistant">

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoastingAssistant"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".user_interface.CameraCalibrationActivity"
            android:label="@string/title_activity_camera_calibration"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar"></activity>
        <activity
            android:name=".user_interface.RoastDataViewActivity"
            android:label="@string/title_activity_roast_data_view"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <activity android:name="Database.DatabaseTestActivity" />
        <activity
            android:name=".user_interface.RoastActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.RemoteDataBrowserActivity"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.CheckpointParamActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.BlendActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.BeanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.RoastParamActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.PreviousRoastActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar" />
        <activity
            android:name=".user_interface.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.RoastingAssistant.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.roastingassistant.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <uses-library
            android:name="android.test.base"
            android:required="false" />

        <uses-library
            android:name="android.test.mock"
            android:required="false" />
    </application>

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />

    <uses-permission-sdk-23
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace" />

</manifest>